infra/main.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.41.2.15936",
      "templateHash": "7972425088800303769"
    }
  },
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "eastus2",
      "metadata": {
        "description": "Azure region for all resources"
      }
    },
    "environment": {
      "type": "string",
      "defaultValue": "prod",
      "metadata": {
        "description": "Environment name (dev, test, prod)"
      }
    },
    "tags": {
      "type": "object",
      "defaultValue": {
        "Project": "Critical Notice Ingestion",
        "Environment": "[parameters('environment')]",
        "ManagedBy": "Bicep"
      },
      "metadata": {
        "description": "Tags to apply to all resources"
      }
    },
    "storageAccountName": {
      "type": "string",
      "defaultValue": "stdtenoticeappeus2mx01",
      "metadata": {
        "description": "Storage account name (must be globally unique, 3-24 lowercase alphanumeric)"
      }
    },
    "keyVaultName": {
      "type": "string",
      "defaultValue": "kv-dtenotice-eus2-mx01",
      "metadata": {
        "description": "Key Vault name (must be globally unique, 3-24 alphanumeric and hyphens)"
      }
    },
    "logicAppName": {
      "type": "string",
      "defaultValue": "logic-dte-noticeapp-eus2-mx01",
      "metadata": {
        "description": "Logic App name"
      }
    },
    "dataFactoryName": {
      "type": "string",
      "defaultValue": "adf-dte-noticeapp-eus2-mx01",
      "metadata": {
        "description": "Data Factory name"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[guid(resourceGroup().id, parameters('storageAccountName'), parameters('logicAppName'), 'scanner', 'StorageBlobDataOwner')]",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'b7e6dc6d-f1e8-4753-8033-0f276bb0955b')]",
        "principalId": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2025-04-01').outputs.logicAppPrincipalId.value]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'logicapp-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[guid(resourceGroup().id, parameters('storageAccountName'), parameters('logicAppName'), 'downloader', 'StorageBlobDataContributor')]",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
        "principalId": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2025-04-01').outputs.downloaderPrincipalId.value]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'logicapp-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[guid(resourceGroup().id, parameters('storageAccountName'), parameters('logicAppName'), 'parser', 'StorageBlobDataContributor')]",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
        "principalId": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2025-04-01').outputs.parserPrincipalId.value]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'logicapp-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[guid(resourceGroup().id, parameters('storageAccountName'), parameters('dataFactoryName'), 'StorageBlobDataContributor')]",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
        "principalId": "[reference(resourceId('Microsoft.Resources/deployments', 'datafactory-deployment'), '2025-04-01').outputs.dataFactoryPrincipalId.value]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'datafactory-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "d01069f8-e69b-5b52-b262-7dc8ae066825",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '4633458b-17de-408a-b874-0445c86b69e6')]",
        "principalId": "[reference(resourceId('Microsoft.Resources/deployments', 'datafactory-deployment'), '2025-04-01').outputs.dataFactoryPrincipalId.value]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'datafactory-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "storage-deployment",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "storageAccountName": {
            "value": "[parameters('storageAccountName')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "17016225991010537499"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "Location for the storage account"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of the storage account"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Tags to apply to resources"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Storage/storageAccounts",
              "apiVersion": "2023-01-01",
              "name": "[parameters('storageAccountName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "sku": {
                "name": "Standard_LRS"
              },
              "kind": "StorageV2",
              "properties": {
                "accessTier": "Hot",
                "supportsHttpsTrafficOnly": true,
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": false,
                "allowSharedKeyAccess": false,
                "networkAcls": {
                  "defaultAction": "Allow",
                  "bypass": "AzureServices"
                }
              }
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices",
              "apiVersion": "2023-01-01",
              "name": "[format('{0}/{1}', parameters('storageAccountName'), 'default')]",
              "properties": {
                "deleteRetentionPolicy": {
                  "enabled": true,
                  "days": 7
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
              "apiVersion": "2023-01-01",
              "name": "[format('{0}/{1}/{2}', parameters('storageAccountName'), 'default', 'critical-notices')]",
              "properties": {
                "publicAccess": "None"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccountName'), 'default')]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/managementPolicies",
              "apiVersion": "2023-01-01",
              "name": "[format('{0}/{1}', parameters('storageAccountName'), 'default')]",
              "properties": {
                "policy": {
                  "rules": [
                    {
                      "name": "MoveToCoolAfter30Days",
                      "enabled": true,
                      "type": "Lifecycle",
                      "definition": {
                        "filters": {
                          "blobTypes": [
                            "blockBlob"
                          ],
                          "prefixMatch": [
                            "critical-notices/"
                          ]
                        },
                        "actions": {
                          "baseBlob": {
                            "tierToCool": {
                              "daysAfterModificationGreaterThan": 30
                            },
                            "tierToArchive": {
                              "daysAfterModificationGreaterThan": 90
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
              ]
            }
          ],
          "outputs": {
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage account resource ID"
              },
              "value": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Storage account name"
              },
              "value": "[parameters('storageAccountName')]"
            },
            "blobEndpoint": {
              "type": "string",
              "metadata": {
                "description": "Storage account blob endpoint"
              },
              "value": "[reference(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2023-01-01').primaryEndpoints.blob]"
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "foundry-deployment",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "4555284551954275017"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "Location for resources"
              }
            },
            "foundryAccountName": {
              "type": "string",
              "defaultValue": "cog-dte-noticeapp-eus2-mx01",
              "metadata": {
                "description": "Name for the Cognitive Services account"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Tags to apply to resources"
              }
            },
            "sku": {
              "type": "string",
              "defaultValue": "S0",
              "allowedValues": [
                "S0",
                "S1"
              ],
              "metadata": {
                "description": "SKU for Cognitive Services account"
              }
            },
            "deploymentName": {
              "type": "string",
              "defaultValue": "gpt-4.1-mini",
              "metadata": {
                "description": "GPT model deployment name"
              }
            },
            "modelVersion": {
              "type": "string",
              "defaultValue": "2025-04-14",
              "metadata": {
                "description": "GPT model version"
              }
            },
            "deploymentCapacity": {
              "type": "int",
              "defaultValue": 30,
              "metadata": {
                "description": "Deployment capacity (TPM in thousands)"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.CognitiveServices/accounts",
              "apiVersion": "2023-05-01",
              "name": "[parameters('foundryAccountName')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('Service', 'Foundry-AI-Extraction'))]",
              "kind": "OpenAI",
              "sku": {
                "name": "[parameters('sku')]"
              },
              "properties": {
                "customSubDomainName": "[parameters('foundryAccountName')]",
                "publicNetworkAccess": "Enabled",
                "networkAcls": {
                  "defaultAction": "Allow"
                },
                "disableLocalAuth": false,
                "apiProperties": {
                  "statisticsEnabled": false
                }
              }
            },
            {
              "type": "Microsoft.CognitiveServices/accounts/deployments",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}', parameters('foundryAccountName'), parameters('deploymentName'))]",
              "sku": {
                "name": "Standard",
                "capacity": "[parameters('deploymentCapacity')]"
              },
              "properties": {
                "model": {
                  "format": "OpenAI",
                  "name": "gpt-4.1-mini",
                  "version": "[parameters('modelVersion')]"
                },
                "versionUpgradeOption": "OnceNewDefaultVersionAvailable",
                "raiPolicyName": "Microsoft.Default"
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', parameters('foundryAccountName'))]"
              ]
            }
          ],
          "outputs": {
            "foundryAccountName": {
              "type": "string",
              "metadata": {
                "description": "Cognitive Services account name"
              },
              "value": "[parameters('foundryAccountName')]"
            },
            "foundryEndpoint": {
              "type": "string",
              "metadata": {
                "description": "Foundry endpoint URL"
              },
              "value": "[reference(resourceId('Microsoft.CognitiveServices/accounts', parameters('foundryAccountName')), '2023-05-01').endpoint]"
            },
            "foundryResourceId": {
              "type": "string",
              "metadata": {
                "description": "Foundry resource ID"
              },
              "value": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('foundryAccountName'))]"
            },
            "deploymentName": {
              "type": "string",
              "metadata": {
                "description": "GPT deployment name"
              },
              "value": "[parameters('deploymentName')]"
            },
            "foundryApiKey": {
              "type": "string",
              "metadata": {
                "description": "Foundry API key (primary)"
              },
              "value": "[listKeys(resourceId('Microsoft.CognitiveServices/accounts', parameters('foundryAccountName')), '2023-05-01').key1]"
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "logicapp-deployment",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "logicAppName": {
            "value": "[parameters('logicAppName')]"
          },
          "storageAccountName": {
            "value": "[parameters('storageAccountName')]"
          },
          "foundryEndpoint": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'foundry-deployment'), '2025-04-01').outputs.foundryEndpoint.value]"
          },
          "foundryApiKey": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'foundry-deployment'), '2025-04-01').outputs.foundryApiKey.value]"
          },
          "foundryDeploymentName": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'foundry-deployment'), '2025-04-01').outputs.deploymentName.value]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "974925874043038820"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "Location for resources"
              }
            },
            "logicAppName": {
              "type": "string",
              "metadata": {
                "description": "Base name for Logic App resources"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Tags to apply to resources"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Storage account name for blob operations"
              }
            },
            "foundryEndpoint": {
              "type": "string",
              "metadata": {
                "description": "Microsoft Foundry endpoint URL"
              }
            },
            "foundryApiKey": {
              "type": "securestring",
              "metadata": {
                "description": "Microsoft Foundry API key"
              }
            },
            "foundryDeploymentName": {
              "type": "string",
              "metadata": {
                "description": "Microsoft Foundry deployment name"
              }
            }
          },
          "variables": {
            "$fxv#0": {
              "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
              "contentVersion": "2.0.0",
              "parameters": {
                "storageAccountName": {
                  "type": "String"
                },
                "downloaderCallbackUrl": {
                  "type": "String"
                },
                "backfillDays": {
                  "type": "Int",
                  "defaultValue": 10
                }
              },
              "triggers": {
                "Recurrence_15_Minutes": {
                  "type": "Recurrence",
                  "recurrence": {
                    "frequency": "Minute",
                    "interval": 15
                  }
                }
              },
              "actions": {
                "Initialize_BackfillCutoffDate": {
                  "type": "InitializeVariable",
                  "inputs": {
                    "variables": [
                      {
                        "name": "backfillCutoffDate",
                        "type": "string",
                        "value": "@{formatDateTime(addDays(utcNow(), mul(-1, parameters('backfillDays'))), 'yyyy-MM-dd')}"
                      }
                    ]
                  },
                  "runAfter": {}
                },
                "Initialize_EnbridgeUnits": {
                  "type": "InitializeVariable",
                  "inputs": {
                    "variables": [
                      {
                        "name": "enbridgeUnits",
                        "type": "array",
                        "value": [
                          "AG",
                          "BGS",
                          "BIG",
                          "BSP",
                          "EG",
                          "ET",
                          "GB",
                          "GPL",
                          "MCGP",
                          "MB",
                          "MNCA",
                          "MNUS",
                          "MR",
                          "NPC",
                          "NXCA",
                          "NXUS",
                          "SESH",
                          "SG",
                          "SR",
                          "STT",
                          "TE",
                          "TPGS",
                          "VCP",
                          "WE",
                          "WRGS"
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Initialize_BackfillCutoffDate": [
                      "Succeeded"
                    ]
                  }
                },
                "Initialize_TCeConnectsUnits": {
                  "type": "InitializeVariable",
                  "inputs": {
                    "variables": [
                      {
                        "name": "tceconnectsUnits",
                        "type": "array",
                        "value": [
                          {
                            "code": "ANR",
                            "assetId": "3005",
                            "name": "ANR Pipeline Company"
                          },
                          {
                            "code": "TCO",
                            "assetId": "51",
                            "name": "Columbia Gas Transmission"
                          },
                          {
                            "code": "CGT",
                            "assetId": "14",
                            "name": "Columbia Gulf Transmission"
                          },
                          {
                            "code": "MPC",
                            "assetId": "26",
                            "name": "Midwestern Gas Transmission"
                          },
                          {
                            "code": "NBPL",
                            "assetId": "3029",
                            "name": "Northern Border Pipeline"
                          }
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Initialize_EnbridgeUnits": [
                      "Succeeded"
                    ]
                  }
                },
                "SCOPE_Enbridge_Scanner": {
                  "type": "Scope",
                  "actions": {
                    "For_Each_Enbridge_Unit": {
                      "type": "Foreach",
                      "foreach": "@variables('enbridgeUnits')",
                      "actions": {
                        "Enbridge_Get_NoticesList": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://infopost.enbridge.com/infopost/noticesList.asp?pipe=@{items('For_Each_Enbridge_Unit')}&type=CRI",
                            "headers": {
                              "User-Agent": "CriticalNotice-Scanner/2.0"
                            }
                          },
                          "runAfter": {}
                        },
                        "Enbridge_Get_LastSeen": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/tracking/enbridge/@{items('For_Each_Enbridge_Unit')}.json",
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://storage.azure.com/"
                            },
                            "headers": {
                              "x-ms-version": "2020-10-02"
                            }
                          },
                          "runAfter": {
                            "Enbridge_Get_NoticesList": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "staticResult": {
                              "name": "HTTP0",
                              "staticResultOptions": "Disabled"
                            }
                          }
                        },
                        "Enbridge_Parse_Notices": {
                          "type": "Compose",
                          "inputs": "@split(body('Enbridge_Get_NoticesList'), '<tr')",
                          "runAfter": {
                            "Enbridge_Get_LastSeen": [
                              "Succeeded",
                              "Failed"
                            ]
                          }
                        },
                        "Enbridge_Extract_Notice_Data": {
                          "type": "Select",
                          "inputs": {
                            "from": "@outputs('Enbridge_Parse_Notices')",
                            "select": {
                              "hasNotice": "@contains(item(), 'strKey1=')",
                              "noticeId": "@if(contains(item(), 'strKey1='), split(split(item(), 'strKey1=')[1], '&')[0], '')",
                              "postedDateRaw": "@if(and(contains(item(), '</td><td>'), contains(item(), '/')), split(split(item(), '</td><td>')[1], '</td>')[0], '')"
                            }
                          },
                          "runAfter": {
                            "Enbridge_Parse_Notices": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Enbridge_Filter_Valid": {
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Enbridge_Extract_Notice_Data')",
                            "where": "@and(not(equals(item()?['noticeId'], '')), item()?['hasNotice'])"
                          },
                          "runAfter": {
                            "Enbridge_Extract_Notice_Data": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Enbridge_Process_Each_Notice": {
                          "type": "Foreach",
                          "foreach": "@body('Enbridge_Filter_Valid')",
                          "actions": {
                            "Enbridge_Check_Within_Window": {
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "not": {
                                      "equals": [
                                        "@items('Enbridge_Process_Each_Notice')?['postedDateRaw']",
                                        ""
                                      ]
                                    }
                                  }
                                ]
                              },
                              "actions": {
                                "Enbridge_Check_Already_Processed": {
                                  "type": "Http",
                                  "inputs": {
                                    "method": "HEAD",
                                    "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/notices/enbridge/@{items('For_Each_Enbridge_Unit')}/@{items('Enbridge_Process_Each_Notice')?['noticeId']}.json",
                                    "authentication": {
                                      "type": "ManagedServiceIdentity",
                                      "audience": "https://storage.azure.com/"
                                    },
                                    "headers": {
                                      "x-ms-version": "2020-10-02"
                                    }
                                  },
                                  "runAfter": {},
                                  "runtimeConfiguration": {
                                    "staticResult": {
                                      "name": "HTTP_HEAD",
                                      "staticResultOptions": "Disabled"
                                    }
                                  }
                                },
                                "Enbridge_Download_If_New": {
                                  "type": "If",
                                  "expression": {
                                    "equals": [
                                      "@outputs('Enbridge_Check_Already_Processed')['statusCode']",
                                      404
                                    ]
                                  },
                                  "actions": {
                                    "Enbridge_Call_Downloader": {
                                      "type": "Http",
                                      "inputs": {
                                        "method": "POST",
                                        "uri": "@{parameters('downloaderCallbackUrl')}",
                                        "headers": {
                                          "Content-Type": "application/json"
                                        },
                                        "body": {
                                          "source": "enbridge",
                                          "pipeline": "@{items('For_Each_Enbridge_Unit')}",
                                          "noticeId": "@{items('Enbridge_Process_Each_Notice')?['noticeId']}",
                                          "url": "https://infopost.enbridge.com/infopost/NoticeListDetail.asp?strKey1=@{items('Enbridge_Process_Each_Notice')?['noticeId']}&type=CRI&Embed=2&pipe=@{items('For_Each_Enbridge_Unit')}",
                                          "postedDate": "@{items('Enbridge_Process_Each_Notice')?['postedDateRaw']}"
                                        }
                                      },
                                      "runAfter": {}
                                    }
                                  },
                                  "else": {
                                    "actions": {}
                                  },
                                  "runAfter": {
                                    "Enbridge_Check_Already_Processed": [
                                      "Succeeded",
                                      "Failed"
                                    ]
                                  }
                                }
                              },
                              "else": {
                                "actions": {}
                              },
                              "runAfter": {}
                            }
                          },
                          "runAfter": {
                            "Enbridge_Filter_Valid": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 3
                            }
                          }
                        },
                        "Enbridge_Update_Tracking": {
                          "type": "Http",
                          "inputs": {
                            "method": "PUT",
                            "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/tracking/enbridge/@{items('For_Each_Enbridge_Unit')}.json",
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://storage.azure.com/"
                            },
                            "headers": {
                              "x-ms-version": "2020-10-02",
                              "x-ms-blob-type": "BlockBlob",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "source": "enbridge",
                              "pipeline": "@{items('For_Each_Enbridge_Unit')}",
                              "lastChecked": "@{utcNow()}",
                              "lastSeenNoticeId": "@{if(greater(length(body('Enbridge_Filter_Valid')), 0), first(body('Enbridge_Filter_Valid'))?['noticeId'], '')}",
                              "noticesInWindow": "@{length(body('Enbridge_Filter_Valid'))}"
                            }
                          },
                          "runAfter": {
                            "Enbridge_Process_Each_Notice": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "runAfter": {},
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 5
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Initialize_TCeConnectsUnits": [
                      "Succeeded"
                    ]
                  }
                },
                "SCOPE_TCeConnects_Scanner": {
                  "type": "Scope",
                  "actions": {
                    "For_Each_TCeConnects_Unit": {
                      "type": "Foreach",
                      "foreach": "@variables('tceconnectsUnits')",
                      "actions": {
                        "TCeConnects_Get_NoticesList_JSON": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://www.tceconnects.com/infopost/webmethods/SSRS_ListCriticalNotices.aspx?assetid=@{items('For_Each_TCeConnects_Unit')?['assetId']}&page=1&rows=100",
                            "headers": {
                              "User-Agent": "CriticalNotice-Scanner/2.0",
                              "Accept": "application/json"
                            }
                          },
                          "runAfter": {}
                        },
                        "TCeConnects_Parse_JSON": {
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('TCeConnects_Get_NoticesList_JSON')",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "string"
                                },
                                "page": {
                                  "type": "string"
                                },
                                "records": {
                                  "type": "string"
                                },
                                "rows": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "cell": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "TCeConnects_Get_NoticesList_JSON": [
                              "Succeeded"
                            ]
                          }
                        },
                        "TCeConnects_Process_Each_Notice": {
                          "type": "Foreach",
                          "foreach": "@body('TCeConnects_Parse_JSON')?['rows']",
                          "actions": {
                            "TCeConnects_Extract_Notice_Fields": {
                              "type": "Compose",
                              "inputs": {
                                "noticeId": "@{items('TCeConnects_Process_Each_Notice')?['cell'][0]}",
                                "title": "@{items('TCeConnects_Process_Each_Notice')?['cell'][1]}",
                                "postedDate": "@{items('TCeConnects_Process_Each_Notice')?['cell'][2]}"
                              },
                              "runAfter": {}
                            },
                            "TCeConnects_Check_Already_Processed": {
                              "type": "Http",
                              "inputs": {
                                "method": "HEAD",
                                "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/notices/tceconnects/@{items('For_Each_TCeConnects_Unit')?['code']}/@{outputs('TCeConnects_Extract_Notice_Fields')?['noticeId']}.json",
                                "authentication": {
                                  "type": "ManagedServiceIdentity",
                                  "audience": "https://storage.azure.com/"
                                },
                                "headers": {
                                  "x-ms-version": "2020-10-02"
                                }
                              },
                              "runAfter": {
                                "TCeConnects_Extract_Notice_Fields": [
                                  "Succeeded"
                                ]
                              },
                              "runtimeConfiguration": {
                                "staticResult": {
                                  "name": "HTTP_HEAD",
                                  "staticResultOptions": "Disabled"
                                }
                              }
                            },
                            "TCeConnects_Download_If_New": {
                              "type": "If",
                              "expression": {
                                "equals": [
                                  "@outputs('TCeConnects_Check_Already_Processed')['statusCode']",
                                  404
                                ]
                              },
                              "actions": {
                                "TCeConnects_Call_Downloader": {
                                  "type": "Http",
                                  "inputs": {
                                    "method": "POST",
                                    "uri": "@{parameters('downloaderCallbackUrl')}",
                                    "headers": {
                                      "Content-Type": "application/json"
                                    },
                                    "body": {
                                      "source": "tceconnects",
                                      "pipeline": "@{items('For_Each_TCeConnects_Unit')?['code']}",
                                      "pipelineName": "@{items('For_Each_TCeConnects_Unit')?['name']}",
                                      "assetId": "@{items('For_Each_TCeConnects_Unit')?['assetId']}",
                                      "noticeId": "@{outputs('TCeConnects_Extract_Notice_Fields')?['noticeId']}",
                                      "title": "@{outputs('TCeConnects_Extract_Notice_Fields')?['title']}",
                                      "url": "https://www.tceconnects.com/infopost/ReportViewer.aspx?%2fInfoPost%2fNoticesSubreport&pNoticeId=@{outputs('TCeConnects_Extract_Notice_Fields')?['noticeId']}&AssetNbr=@{items('For_Each_TCeConnects_Unit')?['assetId']}&rs:Format=HTML4.0",
                                      "postedDate": "@{outputs('TCeConnects_Extract_Notice_Fields')?['postedDate']}"
                                    }
                                  },
                                  "runAfter": {}
                                }
                              },
                              "else": {
                                "actions": {}
                              },
                              "runAfter": {
                                "TCeConnects_Check_Already_Processed": [
                                  "Succeeded",
                                  "Failed"
                                ]
                              }
                            }
                          },
                          "runAfter": {
                            "TCeConnects_Parse_JSON": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 3
                            }
                          }
                        },
                        "TCeConnects_Update_Tracking": {
                          "type": "Http",
                          "inputs": {
                            "method": "PUT",
                            "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/tracking/tceconnects/@{items('For_Each_TCeConnects_Unit')?['code']}.json",
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://storage.azure.com/"
                            },
                            "headers": {
                              "x-ms-version": "2020-10-02",
                              "x-ms-blob-type": "BlockBlob",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "source": "tceconnects",
                              "pipeline": "@{items('For_Each_TCeConnects_Unit')?['code']}",
                              "pipelineName": "@{items('For_Each_TCeConnects_Unit')?['name']}",
                              "assetId": "@{items('For_Each_TCeConnects_Unit')?['assetId']}",
                              "lastChecked": "@{utcNow()}",
                              "totalRecords": "@{body('TCeConnects_Parse_JSON')?['records']}"
                            }
                          },
                          "runAfter": {
                            "TCeConnects_Process_Each_Notice": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "runAfter": {},
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 3
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Initialize_TCeConnectsUnits": [
                      "Succeeded"
                    ]
                  }
                },
                "Update_Scan_Summary": {
                  "type": "Http",
                  "inputs": {
                    "method": "PUT",
                    "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/tracking/scan-summary.json",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://storage.azure.com/"
                    },
                    "headers": {
                      "x-ms-version": "2020-10-02",
                      "x-ms-blob-type": "BlockBlob",
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "lastScanCompleted": "@{utcNow()}",
                      "backfillWindowDays": "@{parameters('backfillDays')}",
                      "backfillCutoffDate": "@{variables('backfillCutoffDate')}",
                      "sitesScanned": [
                        "enbridge",
                        "tceconnects"
                      ],
                      "enbridgeUnits": 25,
                      "tceconnectsUnits": 5
                    }
                  },
                  "runAfter": {
                    "SCOPE_Enbridge_Scanner": [
                      "Succeeded"
                    ],
                    "SCOPE_TCeConnects_Scanner": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "outputs": {}
            },
            "$fxv#1": {
              "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
              "contentVersion": "2.0.0",
              "parameters": {
                "storageAccountName": {
                  "type": "String"
                }
              },
              "triggers": {
                "HTTP_Request": {
                  "type": "Request",
                  "kind": "Http",
                  "inputs": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string",
                          "description": "Source site: enbridge | tceconnects"
                        },
                        "pipeline": {
                          "type": "string",
                          "description": "Pipeline/business unit code"
                        },
                        "pipelineName": {
                          "type": "string",
                          "description": "Full pipeline name (optional)"
                        },
                        "noticeId": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string",
                          "description": "Notice title (from JSON list)"
                        },
                        "url": {
                          "type": "string"
                        },
                        "postedDate": {
                          "type": "string"
                        },
                        "assetId": {
                          "type": "string",
                          "description": "TCeConnects asset ID (optional)"
                        }
                      },
                      "required": [
                        "source",
                        "pipeline",
                        "noticeId",
                        "url"
                      ]
                    }
                  }
                }
              },
              "actions": {
                "Initialize_DateFolder": {
                  "type": "InitializeVariable",
                  "inputs": {
                    "variables": [
                      {
                        "name": "dateFolder",
                        "type": "string",
                        "value": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"
                      }
                    ]
                  },
                  "runAfter": {}
                },
                "HTTP_Get_NoticeDetail": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{triggerBody()?['url']}",
                    "headers": {
                      "User-Agent": "CriticalNotice-Downloader/2.0"
                    }
                  },
                  "runAfter": {
                    "Initialize_DateFolder": [
                      "Succeeded"
                    ]
                  }
                },
                "Create_Blob_RawContent": {
                  "type": "Http",
                  "inputs": {
                    "method": "PUT",
                    "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/raw/@{triggerBody()?['source']}/@{variables('dateFolder')}/@{triggerBody()?['pipeline']}/@{triggerBody()?['noticeId']}.html",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://storage.azure.com/"
                    },
                    "headers": {
                      "x-ms-version": "2020-10-02",
                      "x-ms-blob-type": "BlockBlob",
                      "Content-Type": "text/html"
                    },
                    "body": "@{body('HTTP_Get_NoticeDetail')}"
                  },
                  "runAfter": {
                    "HTTP_Get_NoticeDetail": [
                      "Succeeded"
                    ]
                  }
                },
                "Create_Canonical_Notice": {
                  "type": "Http",
                  "inputs": {
                    "method": "PUT",
                    "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/notices/@{triggerBody()?['source']}/@{triggerBody()?['pipeline']}/@{triggerBody()?['noticeId']}.json",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://storage.azure.com/"
                    },
                    "headers": {
                      "x-ms-version": "2020-10-02",
                      "x-ms-blob-type": "BlockBlob",
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "source": "@{triggerBody()?['source']}",
                      "pipeline": "@{triggerBody()?['pipeline']}",
                      "pipelineName": "@{coalesce(triggerBody()?['pipelineName'], triggerBody()?['pipeline'])}",
                      "noticeId": "@{triggerBody()?['noticeId']}",
                      "title": "@{coalesce(triggerBody()?['title'], '')}",
                      "postedDate": "@{triggerBody()?['postedDate']}",
                      "sourceUrl": "@{triggerBody()?['url']}",
                      "rawBlobPath": "raw/@{triggerBody()?['source']}/@{variables('dateFolder')}/@{triggerBody()?['pipeline']}/@{triggerBody()?['noticeId']}.html",
                      "scrapedAt": "@{utcNow()}",
                      "processingStatus": "raw_captured",
                      "assetId": "@{coalesce(triggerBody()?['assetId'], '')}"
                    }
                  },
                  "runAfter": {
                    "Create_Blob_RawContent": [
                      "Succeeded"
                    ]
                  }
                },
                "Append_To_Daily_Index": {
                  "type": "Http",
                  "inputs": {
                    "method": "PUT",
                    "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/indices/daily/@{variables('dateFolder')}/@{triggerBody()?['source']}-@{triggerBody()?['pipeline']}-@{triggerBody()?['noticeId']}.json",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://storage.azure.com/"
                    },
                    "headers": {
                      "x-ms-version": "2020-10-02",
                      "x-ms-blob-type": "BlockBlob",
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "source": "@{triggerBody()?['source']}",
                      "pipeline": "@{triggerBody()?['pipeline']}",
                      "noticeId": "@{triggerBody()?['noticeId']}",
                      "title": "@{coalesce(triggerBody()?['title'], '')}",
                      "postedDate": "@{triggerBody()?['postedDate']}",
                      "scrapedAt": "@{utcNow()}"
                    }
                  },
                  "runAfter": {
                    "Create_Canonical_Notice": [
                      "Succeeded"
                    ]
                  }
                },
                "Response_Success": {
                  "type": "Response",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "status": "success",
                      "source": "@{triggerBody()?['source']}",
                      "pipeline": "@{triggerBody()?['pipeline']}",
                      "noticeId": "@{triggerBody()?['noticeId']}",
                      "noticePath": "notices/@{triggerBody()?['source']}/@{triggerBody()?['pipeline']}/@{triggerBody()?['noticeId']}.json",
                      "rawPath": "raw/@{triggerBody()?['source']}/@{variables('dateFolder')}/@{triggerBody()?['pipeline']}/@{triggerBody()?['noticeId']}.html",
                      "scrapedAt": "@{utcNow()}"
                    }
                  },
                  "runAfter": {
                    "Append_To_Daily_Index": [
                      "Succeeded"
                    ]
                  },
                  "kind": "Http"
                },
                "Response_Failure": {
                  "type": "Response",
                  "inputs": {
                    "statusCode": 500,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "status": "failed",
                      "source": "@{triggerBody()?['source']}",
                      "pipeline": "@{triggerBody()?['pipeline']}",
                      "noticeId": "@{triggerBody()?['noticeId']}",
                      "error": "Failed to download or store notice"
                    }
                  },
                  "runAfter": {
                    "HTTP_Get_NoticeDetail": [
                      "Failed"
                    ],
                    "Create_Blob_RawContent": [
                      "Failed"
                    ],
                    "Create_Canonical_Notice": [
                      "Failed"
                    ]
                  },
                  "kind": "Http"
                }
              },
              "outputs": {}
            },
            "$fxv#2": {
              "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
              "contentVersion": "2.0.0",
              "parameters": {
                "storageAccountName": {
                  "type": "String"
                },
                "foundryEndpoint": {
                  "type": "String"
                },
                "foundryApiKey": {
                  "type": "SecureString"
                },
                "foundryDeploymentName": {
                  "type": "String",
                  "defaultValue": "gpt-4.1-mini"
                }
              },
              "triggers": {
                "Recurrence_Check_For_Raw_HTML": {
                  "type": "Recurrence",
                  "recurrence": {
                    "frequency": "Minute",
                    "interval": 5
                  }
                }
              },
              "actions": {
                "List_Raw_HTML_Blobs": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices?restype=container&comp=list&prefix=raw/&maxresults=50",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://storage.azure.com/"
                    },
                    "headers": {
                      "x-ms-version": "2020-10-02"
                    }
                  },
                  "runAfter": {}
                },
                "Parse_Blob_List_XML": {
                  "type": "Compose",
                  "inputs": "@xpath(xml(body('List_Raw_HTML_Blobs')), '//Blob/Name/text()')",
                  "runAfter": {
                    "List_Raw_HTML_Blobs": [
                      "Succeeded"
                    ]
                  }
                },
                "Initialize_FoundrySystemPrompt": {
                  "type": "InitializeVariable",
                  "inputs": {
                    "variables": [
                      {
                        "name": "foundrySystemPrompt",
                        "type": "string",
                        "value": "You are a structured data extraction assistant. Extract information from HTML documents and return only valid JSON. Be precise and thorough."
                      }
                    ]
                  },
                  "runAfter": {
                    "Parse_Blob_List_XML": [
                      "Succeeded"
                    ]
                  }
                },
                "Initialize_ExtractionPrompt": {
                  "type": "InitializeVariable",
                  "inputs": {
                    "variables": [
                      {
                        "name": "extractionPrompt",
                        "type": "string",
                        "value": "Extract these fields from the HTML notice as JSON:\n- title: The main notice title/subject\n- noticeType: Type of notice (Maintenance, Capacity Constraint, Force Majeure, etc.)\n- status: Initiate, Supersede, or Cancel\n- postedDate: When notice was posted (ISO 8601)\n- effectiveDate: When notice takes effect (ISO 8601)\n- endDate: When notice expires (ISO 8601, null if none)\n- description: Main content/body of the notice (cleaned text, not HTML)\n- affectedLocations: List of affected locations/meters if mentioned\n- responseRequired: true if response is required, false otherwise\n\nReturn ONLY valid JSON, no markdown or explanation."
                      }
                    ]
                  },
                  "runAfter": {
                    "Initialize_FoundrySystemPrompt": [
                      "Succeeded"
                    ]
                  }
                },
                "For_Each_Raw_Blob": {
                  "type": "Foreach",
                  "foreach": "@outputs('Parse_Blob_List_XML')",
                  "actions": {
                    "Parse_Blob_Path": {
                      "type": "Compose",
                      "inputs": {
                        "blobPath": "@{items('For_Each_Raw_Blob')}",
                        "blobName": "@{last(split(items('For_Each_Raw_Blob'), '/'))}",
                        "pathParts": "@split(items('For_Each_Raw_Blob'), '/')"
                      },
                      "runAfter": {}
                    },
                    "Extract_Path_Metadata": {
                      "type": "Compose",
                      "inputs": {
                        "source": "@{outputs('Parse_Blob_Path')?['pathParts'][1]}",
                        "dateFolder": "@{outputs('Parse_Blob_Path')?['pathParts'][2]}",
                        "pipeline": "@{outputs('Parse_Blob_Path')?['pathParts'][3]}",
                        "fileName": "@{last(outputs('Parse_Blob_Path')?['pathParts'])}",
                        "noticeId": "@{replace(last(outputs('Parse_Blob_Path')?['pathParts']), '.html', '')}"
                      },
                      "runAfter": {
                        "Parse_Blob_Path": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Check_Already_Parsed": {
                      "type": "Http",
                      "inputs": {
                        "method": "HEAD",
                        "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/parsed/@{outputs('Extract_Path_Metadata')?['source']}/@{outputs('Extract_Path_Metadata')?['pipeline']}/@{outputs('Extract_Path_Metadata')?['noticeId']}.json",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://storage.azure.com/"
                        },
                        "headers": {
                          "x-ms-version": "2020-10-02"
                        }
                      },
                      "runAfter": {
                        "Extract_Path_Metadata": [
                          "Succeeded"
                        ]
                      },
                      "runtimeConfiguration": {
                        "staticResult": {
                          "name": "HTTP_HEAD_Check",
                          "staticResultOptions": "Disabled"
                        }
                      }
                    },
                    "Process_If_Not_Parsed": {
                      "type": "If",
                      "expression": {
                        "equals": [
                          "@outputs('Check_Already_Parsed')['statusCode']",
                          404
                        ]
                      },
                      "actions": {
                        "Get_HTML_Blob_Content": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/@{outputs('Parse_Blob_Path')?['blobPath']}",
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://storage.azure.com/"
                            },
                            "headers": {
                              "x-ms-version": "2020-10-02"
                            }
                          },
                          "runAfter": {}
                        },
                        "Call_Foundry_Extraction": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "@{parameters('foundryEndpoint')}/openai/deployments/@{parameters('foundryDeploymentName')}/chat/completions?api-version=2024-02-01",
                            "headers": {
                              "Content-Type": "application/json",
                              "api-key": "@parameters('foundryApiKey')"
                            },
                            "body": {
                              "messages": [
                                {
                                  "role": "system",
                                  "content": "@{variables('foundrySystemPrompt')}"
                                },
                                {
                                  "role": "user",
                                  "content": "@{variables('extractionPrompt')}\n\nHTML Content:\n@{body('Get_HTML_Blob_Content')}"
                                }
                              ],
                              "temperature": "[json('0.1')]",
                              "max_tokens": 2000,
                              "response_format": {
                                "type": "json_object"
                              }
                            }
                          },
                          "runAfter": {
                            "Get_HTML_Blob_Content": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Parse_Foundry_Response": {
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('Call_Foundry_Extraction')",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "object": {
                                  "type": "string"
                                },
                                "created": {
                                  "type": "integer"
                                },
                                "model": {
                                  "type": "string"
                                },
                                "choices": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "index": {
                                        "type": "integer"
                                      },
                                      "message": {
                                        "type": "object",
                                        "properties": {
                                          "role": {
                                            "type": "string"
                                          },
                                          "content": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "finish_reason": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "usage": {
                                  "type": "object",
                                  "properties": {
                                    "prompt_tokens": {
                                      "type": "integer"
                                    },
                                    "completion_tokens": {
                                      "type": "integer"
                                    },
                                    "total_tokens": {
                                      "type": "integer"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Call_Foundry_Extraction": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Extract_JSON_Content": {
                          "type": "Compose",
                          "inputs": "@json(body('Parse_Foundry_Response')?['choices'][0]?['message']?['content'])",
                          "runAfter": {
                            "Parse_Foundry_Response": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Build_Final_Parsed_Document": {
                          "type": "Compose",
                          "inputs": {
                            "metadata": {
                              "source": "@{outputs('Extract_Path_Metadata')?['source']}",
                              "pipeline": "@{outputs('Extract_Path_Metadata')?['pipeline']}",
                              "noticeId": "@{outputs('Extract_Path_Metadata')?['noticeId']}",
                              "rawBlobPath": "@{outputs('Parse_Blob_Path')?['blobPath']}",
                              "parsedAt": "@{utcNow()}",
                              "foundryModel": "@{parameters('foundryDeploymentName')}",
                              "tokensUsed": "@{body('Parse_Foundry_Response')?['usage']?['total_tokens']}"
                            },
                            "extracted": "@outputs('Extract_JSON_Content')"
                          },
                          "runAfter": {
                            "Extract_JSON_Content": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Write_Parsed_JSON_Blob": {
                          "type": "Http",
                          "inputs": {
                            "method": "PUT",
                            "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/parsed/@{outputs('Extract_Path_Metadata')?['source']}/@{outputs('Extract_Path_Metadata')?['pipeline']}/@{outputs('Extract_Path_Metadata')?['noticeId']}.json",
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://storage.azure.com/"
                            },
                            "headers": {
                              "x-ms-version": "2020-10-02",
                              "x-ms-blob-type": "BlockBlob",
                              "Content-Type": "application/json"
                            },
                            "body": "@outputs('Build_Final_Parsed_Document')"
                          },
                          "runAfter": {
                            "Build_Final_Parsed_Document": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Check_Already_Parsed": [
                          "Succeeded",
                          "Failed"
                        ]
                      }
                    },
                    "Handle_Parsing_Errors": {
                      "type": "Scope",
                      "actions": {
                        "Log_Error_To_Failed_Folder": {
                          "type": "Http",
                          "inputs": {
                            "method": "PUT",
                            "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/failed-parsing/@{outputs('Extract_Path_Metadata')?['source']}/@{outputs('Extract_Path_Metadata')?['pipeline']}/@{outputs('Extract_Path_Metadata')?['noticeId']}-@{utcNow('yyyyMMddHHmmss')}.json",
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://storage.azure.com/"
                            },
                            "headers": {
                              "x-ms-version": "2020-10-02",
                              "x-ms-blob-type": "BlockBlob",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "error": "Parsing failed",
                              "timestamp": "@{utcNow()}",
                              "source": "@{outputs('Extract_Path_Metadata')?['source']}",
                              "pipeline": "@{outputs('Extract_Path_Metadata')?['pipeline']}",
                              "noticeId": "@{outputs('Extract_Path_Metadata')?['noticeId']}",
                              "rawBlobPath": "@{outputs('Parse_Blob_Path')?['blobPath']}",
                              "errorDetails": "@{result('Process_If_Not_Parsed')}"
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Process_If_Not_Parsed": [
                          "Failed",
                          "Skipped",
                          "TimedOut"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Initialize_ExtractionPrompt": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 3
                    }
                  }
                }
              },
              "outputs": {}
            },
            "scannerDefinition": "[variables('$fxv#0')]",
            "downloaderDefinition": "[variables('$fxv#1')]",
            "parserDefinition": "[variables('$fxv#2')]"
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[format('{0}-downloader', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('Workflow', 'CriticalNotice-Downloader-Multisite'))]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": "[variables('downloaderDefinition')]",
                "parameters": {
                  "storageAccountName": {
                    "value": "[parameters('storageAccountName')]"
                  }
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[format('{0}-scanner', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('Workflow', 'CriticalNotice-Scanner-Multisite'))]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": "[variables('scannerDefinition')]",
                "parameters": {
                  "storageAccountName": {
                    "value": "[parameters('storageAccountName')]"
                  },
                  "downloaderCallbackUrl": {
                    "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', format('{0}-downloader', parameters('logicAppName')), 'HTTP_Request'), '2019-05-01').value]"
                  }
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', format('{0}-downloader', parameters('logicAppName')))]"
              ]
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[format('{0}-parser', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('Workflow', 'CriticalNotice-Parser-Multisite'))]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": "[variables('parserDefinition')]",
                "parameters": {
                  "storageAccountName": {
                    "value": "[parameters('storageAccountName')]"
                  },
                  "foundryEndpoint": {
                    "value": "[parameters('foundryEndpoint')]"
                  },
                  "foundryApiKey": {
                    "value": "[parameters('foundryApiKey')]"
                  },
                  "foundryDeploymentName": {
                    "value": "[parameters('foundryDeploymentName')]"
                  }
                }
              }
            }
          ],
          "outputs": {
            "scannerLogicAppId": {
              "type": "string",
              "metadata": {
                "description": "Scanner Logic App resource ID"
              },
              "value": "[resourceId('Microsoft.Logic/workflows', format('{0}-scanner', parameters('logicAppName')))]"
            },
            "scannerLogicAppName": {
              "type": "string",
              "metadata": {
                "description": "Scanner Logic App name"
              },
              "value": "[format('{0}-scanner', parameters('logicAppName'))]"
            },
            "logicAppPrincipalId": {
              "type": "string",
              "metadata": {
                "description": "Scanner Logic App managed identity principal ID"
              },
              "value": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-scanner', parameters('logicAppName'))), '2019-05-01', 'full').identity.principalId]"
            },
            "downloaderLogicAppId": {
              "type": "string",
              "metadata": {
                "description": "Downloader Logic App resource ID"
              },
              "value": "[resourceId('Microsoft.Logic/workflows', format('{0}-downloader', parameters('logicAppName')))]"
            },
            "downloaderLogicAppName": {
              "type": "string",
              "metadata": {
                "description": "Downloader Logic App name"
              },
              "value": "[format('{0}-downloader', parameters('logicAppName'))]"
            },
            "downloaderPrincipalId": {
              "type": "string",
              "metadata": {
                "description": "Downloader Logic App managed identity principal ID"
              },
              "value": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-downloader', parameters('logicAppName'))), '2019-05-01', 'full').identity.principalId]"
            },
            "downloaderCallbackUrl": {
              "type": "string",
              "metadata": {
                "description": "Downloader HTTP trigger callback URL"
              },
              "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', format('{0}-downloader', parameters('logicAppName')), 'HTTP_Request'), '2019-05-01').value]"
            },
            "logicAppName": {
              "type": "string",
              "metadata": {
                "description": "Primary Logic App name (Scanner)"
              },
              "value": "[format('{0}-scanner', parameters('logicAppName'))]"
            },
            "logicAppId": {
              "type": "string",
              "metadata": {
                "description": "Primary Logic App ID (Scanner)"
              },
              "value": "[resourceId('Microsoft.Logic/workflows', format('{0}-scanner', parameters('logicAppName')))]"
            },
            "parserLogicAppId": {
              "type": "string",
              "metadata": {
                "description": "Parser Logic App resource ID"
              },
              "value": "[resourceId('Microsoft.Logic/workflows', format('{0}-parser', parameters('logicAppName')))]"
            },
            "parserLogicAppName": {
              "type": "string",
              "metadata": {
                "description": "Parser Logic App name"
              },
              "value": "[format('{0}-parser', parameters('logicAppName'))]"
            },
            "parserPrincipalId": {
              "type": "string",
              "metadata": {
                "description": "Parser Logic App managed identity principal ID"
              },
              "value": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-parser', parameters('logicAppName'))), '2019-05-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'foundry-deployment')]",
        "[resourceId('Microsoft.Resources/deployments', 'storage-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "keyvault-deployment",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "keyVaultName": {
            "value": "[parameters('keyVaultName')]"
          },
          "logicAppPrincipalId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2025-04-01').outputs.logicAppPrincipalId.value]"
          },
          "foundryApiKey": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'foundry-deployment'), '2025-04-01').outputs.foundryApiKey.value]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "16731191722376375129"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "Location for the Key Vault"
              }
            },
            "keyVaultName": {
              "type": "string",
              "metadata": {
                "description": "Name of the Key Vault"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Tags to apply to resources"
              }
            },
            "logicAppPrincipalId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Principal ID for Logic App managed identity (for access policy)"
              }
            },
            "storageConnectionString": {
              "type": "securestring",
              "defaultValue": "",
              "metadata": {
                "description": "Storage account connection string to store as secret"
              }
            },
            "foundryApiKey": {
              "type": "securestring",
              "defaultValue": "",
              "metadata": {
                "description": "Microsoft Foundry API key to store as secret"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.KeyVault/vaults",
              "apiVersion": "2023-07-01",
              "name": "[parameters('keyVaultName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "sku": {
                  "family": "A",
                  "name": "standard"
                },
                "tenantId": "[subscription().tenantId]",
                "enabledForDeployment": false,
                "enabledForDiskEncryption": false,
                "enabledForTemplateDeployment": true,
                "enableSoftDelete": true,
                "softDeleteRetentionInDays": 90,
                "enableRbacAuthorization": true,
                "publicNetworkAccess": "Enabled",
                "networkAcls": {
                  "defaultAction": "Allow",
                  "bypass": "AzureServices"
                }
              }
            },
            {
              "condition": "[not(empty(parameters('storageConnectionString')))]",
              "type": "Microsoft.KeyVault/vaults/secrets",
              "apiVersion": "2023-07-01",
              "name": "[format('{0}/{1}', parameters('keyVaultName'), 'StorageConnectionString')]",
              "properties": {
                "value": "[parameters('storageConnectionString')]",
                "contentType": "text/plain",
                "attributes": {
                  "enabled": true
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
              ]
            },
            {
              "condition": "[not(empty(parameters('foundryApiKey')))]",
              "type": "Microsoft.KeyVault/vaults/secrets",
              "apiVersion": "2023-07-01",
              "name": "[format('{0}/{1}', parameters('keyVaultName'), 'FoundryApiKey')]",
              "properties": {
                "value": "[parameters('foundryApiKey')]",
                "contentType": "text/plain",
                "attributes": {
                  "enabled": true
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
              ]
            },
            {
              "condition": "[not(empty(parameters('logicAppPrincipalId')))]",
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]",
              "name": "[guid(resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName')), parameters('logicAppPrincipalId'), '4633458b-17de-408a-b874-0445c86b69e6')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '4633458b-17de-408a-b874-0445c86b69e6')]",
                "principalId": "[parameters('logicAppPrincipalId')]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
              ]
            }
          ],
          "outputs": {
            "keyVaultId": {
              "type": "string",
              "metadata": {
                "description": "Key Vault resource ID"
              },
              "value": "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
            },
            "keyVaultName": {
              "type": "string",
              "metadata": {
                "description": "Key Vault name"
              },
              "value": "[parameters('keyVaultName')]"
            },
            "keyVaultUri": {
              "type": "string",
              "metadata": {
                "description": "Key Vault URI"
              },
              "value": "[reference(resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName')), '2023-07-01').vaultUri]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'foundry-deployment')]",
        "[resourceId('Microsoft.Resources/deployments', 'logicapp-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "datafactory-deployment",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "dataFactoryName": {
            "value": "[parameters('dataFactoryName')]"
          },
          "storageAccountId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountId.value]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "6787947514163294370"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "Location for the Data Factory"
              }
            },
            "dataFactoryName": {
              "type": "string",
              "metadata": {
                "description": "Name of the Data Factory"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Tags to apply to resources"
              }
            },
            "storageAccountId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Storage account resource ID for linked service (unused, kept for backward compat)"
              }
            },
            "storageAccountName": {
              "type": "string",
              "defaultValue": "stdtenoticeappeus2mx01",
              "metadata": {
                "description": "Storage account name for connection"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.DataFactory/factories",
              "apiVersion": "2018-06-01",
              "name": "[parameters('dataFactoryName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "publicNetworkAccess": "Enabled"
              }
            },
            {
              "type": "Microsoft.DataFactory/factories/linkedservices",
              "apiVersion": "2018-06-01",
              "name": "[format('{0}/{1}', parameters('dataFactoryName'), 'AzureBlobStorage_ManagedIdentity')]",
              "properties": {
                "type": "AzureBlobStorage",
                "typeProperties": {
                  "serviceEndpoint": "[format('https://{0}.blob.core.windows.net', parameters('storageAccountName'))]",
                  "accountKind": "StorageV2"
                },
                "connectVia": {
                  "referenceName": "AutoResolveIntegrationRuntime",
                  "type": "IntegrationRuntimeReference"
                },
                "description": "Linked service to critical notices blob storage using managed identity"
              },
              "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]",
                "[resourceId('Microsoft.DataFactory/factories/integrationRuntimes', parameters('dataFactoryName'), 'AutoResolveIntegrationRuntime')]"
              ]
            },
            {
              "type": "Microsoft.DataFactory/factories/linkedservices",
              "apiVersion": "2018-06-01",
              "name": "[format('{0}/{1}', parameters('dataFactoryName'), 'FabricLakehouse_Mock')]",
              "properties": {
                "type": "AzureBlobFS",
                "typeProperties": {
                  "url": "https://onelake.dfs.fabric.microsoft.com",
                  "accountKey": {
                    "type": "SecureString",
                    "value": "PLACEHOLDER_FABRIC_KEY_CONFIGURE_AFTER_DEPLOYMENT"
                  }
                },
                "description": "Mock linked service to Fabric Lakehouse - configure after deployment with actual workspace credentials"
              },
              "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]"
              ]
            },
            {
              "type": "Microsoft.DataFactory/factories/integrationRuntimes",
              "apiVersion": "2018-06-01",
              "name": "[format('{0}/{1}', parameters('dataFactoryName'), 'AutoResolveIntegrationRuntime')]",
              "properties": {
                "type": "Managed",
                "typeProperties": {
                  "computeProperties": {
                    "location": "AutoResolve"
                  }
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]"
              ]
            },
            {
              "type": "Microsoft.DataFactory/factories/datasets",
              "apiVersion": "2018-06-01",
              "name": "[format('{0}/{1}', parameters('dataFactoryName'), 'BlobHtmlSource')]",
              "properties": {
                "type": "Binary",
                "linkedServiceName": {
                  "referenceName": "AzureBlobStorage_ManagedIdentity",
                  "type": "LinkedServiceReference"
                },
                "typeProperties": {
                  "location": {
                    "type": "AzureBlobStorageLocation",
                    "container": "critical-notices",
                    "folderPath": "raw-html"
                  }
                },
                "description": "Raw HTML files from critical notice downloads",
                "folder": {
                  "name": "Sources"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories/linkedservices', parameters('dataFactoryName'), 'AzureBlobStorage_ManagedIdentity')]",
                "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]"
              ]
            },
            {
              "type": "Microsoft.DataFactory/factories/datasets",
              "apiVersion": "2018-06-01",
              "name": "[format('{0}/{1}', parameters('dataFactoryName'), 'ParsedNoticesSource')]",
              "properties": {
                "type": "Parquet",
                "linkedServiceName": {
                  "referenceName": "AzureBlobStorage_ManagedIdentity",
                  "type": "LinkedServiceReference"
                },
                "typeProperties": {
                  "location": {
                    "type": "AzureBlobStorageLocation",
                    "container": "critical-notices",
                    "folderPath": "parsed",
                    "fileName": "*.parquet"
                  },
                  "compressionCodec": "snappy"
                },
                "description": "Parsed notice data in Parquet format",
                "folder": {
                  "name": "Sources"
                },
                "schema": [
                  {
                    "name": "notice_id",
                    "type": "String"
                  },
                  {
                    "name": "business_unit",
                    "type": "String"
                  },
                  {
                    "name": "notice_type",
                    "type": "String"
                  },
                  {
                    "name": "posted_datetime",
                    "type": "DateTime"
                  },
                  {
                    "name": "effective_datetime",
                    "type": "DateTime"
                  },
                  {
                    "name": "end_datetime",
                    "type": "DateTime"
                  },
                  {
                    "name": "subject",
                    "type": "String"
                  },
                  {
                    "name": "html_blob_path",
                    "type": "String"
                  },
                  {
                    "name": "extracted_at",
                    "type": "DateTime"
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories/linkedservices', parameters('dataFactoryName'), 'AzureBlobStorage_ManagedIdentity')]",
                "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]"
              ]
            },
            {
              "type": "Microsoft.DataFactory/factories/datasets",
              "apiVersion": "2018-06-01",
              "name": "[format('{0}/{1}', parameters('dataFactoryName'), 'FabricLakehouseSink')]",
              "properties": {
                "type": "Parquet",
                "linkedServiceName": {
                  "referenceName": "FabricLakehouse_Mock",
                  "type": "LinkedServiceReference"
                },
                "typeProperties": {
                  "location": {
                    "type": "AzureBlobFSLocation",
                    "fileSystem": "CriticalNotices_Lakehouse",
                    "folderPath": "Tables/raw_notices"
                  },
                  "compressionCodec": "snappy"
                },
                "description": "Mock sink to Fabric Lakehouse raw_notices table",
                "folder": {
                  "name": "Sinks"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]",
                "[resourceId('Microsoft.DataFactory/factories/linkedservices', parameters('dataFactoryName'), 'FabricLakehouse_Mock')]"
              ]
            },
            {
              "type": "Microsoft.DataFactory/factories/pipelines",
              "apiVersion": "2018-06-01",
              "name": "[format('{0}/{1}', parameters('dataFactoryName'), 'IngestToFabric')]",
              "properties": {
                "description": "Copies parsed critical notices from Blob Storage to Fabric Lakehouse. NOTE: Fabric linked service must be configured with actual credentials before this pipeline will work.",
                "activities": [
                  {
                    "name": "CopyToFabricLakehouse",
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "ParquetSource",
                        "storeSettings": {
                          "type": "AzureBlobStorageReadSettings",
                          "recursive": true,
                          "wildcardFolderPath": "*",
                          "wildcardFileName": "*.parquet",
                          "enablePartitionDiscovery": false
                        }
                      },
                      "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                          "type": "AzureBlobFSWriteSettings"
                        }
                      },
                      "enableStaging": false
                    },
                    "inputs": [
                      {
                        "referenceName": "ParsedNoticesSource",
                        "type": "DatasetReference"
                      }
                    ],
                    "outputs": [
                      {
                        "referenceName": "FabricLakehouseSink",
                        "type": "DatasetReference"
                      }
                    ],
                    "policy": {
                      "retry": 3,
                      "retryIntervalInSeconds": 30,
                      "timeout": "00:30:00"
                    }
                  }
                ],
                "annotations": [
                  "CriticalNotices",
                  "FabricIngestion",
                  "MockPipeline"
                ],
                "folder": {
                  "name": "Ingestion"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]",
                "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('dataFactoryName'), 'FabricLakehouseSink')]",
                "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('dataFactoryName'), 'ParsedNoticesSource')]"
              ]
            },
            {
              "type": "Microsoft.DataFactory/factories/pipelines",
              "apiVersion": "2018-06-01",
              "name": "[format('{0}/{1}', parameters('dataFactoryName'), 'ArchiveRawHtml')]",
              "properties": {
                "description": "Archives raw HTML files older than 30 days by moving to archive container. Runs on schedule.",
                "activities": [
                  {
                    "name": "GetFilesToArchive",
                    "type": "GetMetadata",
                    "typeProperties": {
                      "dataset": {
                        "referenceName": "BlobHtmlSource",
                        "type": "DatasetReference"
                      },
                      "fieldList": [
                        "childItems"
                      ],
                      "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true
                      }
                    }
                  }
                ],
                "annotations": [
                  "CriticalNotices",
                  "Maintenance"
                ],
                "folder": {
                  "name": "Maintenance"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('dataFactoryName'), 'BlobHtmlSource')]",
                "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]"
              ]
            }
          ],
          "outputs": {
            "dataFactoryId": {
              "type": "string",
              "metadata": {
                "description": "Data Factory resource ID"
              },
              "value": "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]"
            },
            "dataFactoryName": {
              "type": "string",
              "metadata": {
                "description": "Data Factory name"
              },
              "value": "[parameters('dataFactoryName')]"
            },
            "dataFactoryPrincipalId": {
              "type": "string",
              "metadata": {
                "description": "Data Factory managed identity principal ID"
              },
              "value": "[reference(resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName')), '2018-06-01', 'full').identity.principalId]"
            },
            "blobLinkedServiceName": {
              "type": "string",
              "metadata": {
                "description": "Blob Storage Linked Service name"
              },
              "value": "AzureBlobStorage_ManagedIdentity"
            },
            "fabricLinkedServiceName": {
              "type": "string",
              "metadata": {
                "description": "Fabric Linked Service name (mock)"
              },
              "value": "FabricLakehouse_Mock"
            },
            "ingestPipelineName": {
              "type": "string",
              "metadata": {
                "description": "Ingest pipeline name"
              },
              "value": "IngestToFabric"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'storage-deployment')]"
      ]
    }
  ],
  "outputs": {
    "storageAccountName": {
      "type": "string",
      "metadata": {
        "description": "Storage Account name"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.storageAccountName.value]"
    },
    "storageBlobEndpoint": {
      "type": "string",
      "metadata": {
        "description": "Storage Account blob endpoint"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'storage-deployment'), '2025-04-01').outputs.blobEndpoint.value]"
    },
    "keyVaultName": {
      "type": "string",
      "metadata": {
        "description": "Key Vault name"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'keyvault-deployment'), '2025-04-01').outputs.keyVaultName.value]"
    },
    "keyVaultUri": {
      "type": "string",
      "metadata": {
        "description": "Key Vault URI"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'keyvault-deployment'), '2025-04-01').outputs.keyVaultUri.value]"
    },
    "logicAppScannerName": {
      "type": "string",
      "metadata": {
        "description": "Logic App Scanner name"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2025-04-01').outputs.scannerLogicAppName.value]"
    },
    "logicAppDownloaderName": {
      "type": "string",
      "metadata": {
        "description": "Logic App Downloader name"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2025-04-01').outputs.downloaderLogicAppName.value]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "metadata": {
        "description": "Logic App Scanner managed identity principal ID"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2025-04-01').outputs.logicAppPrincipalId.value]"
    },
    "downloaderPrincipalId": {
      "type": "string",
      "metadata": {
        "description": "Logic App Downloader managed identity principal ID"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2025-04-01').outputs.downloaderPrincipalId.value]"
    },
    "downloaderCallbackUrl": {
      "type": "string",
      "metadata": {
        "description": "Downloader callback URL (for testing)"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2025-04-01').outputs.downloaderCallbackUrl.value]"
    },
    "dataFactoryName": {
      "type": "string",
      "metadata": {
        "description": "Data Factory name"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'datafactory-deployment'), '2025-04-01').outputs.dataFactoryName.value]"
    },
    "dataFactoryPrincipalId": {
      "type": "string",
      "metadata": {
        "description": "Data Factory managed identity principal ID"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'datafactory-deployment'), '2025-04-01').outputs.dataFactoryPrincipalId.value]"
    },
    "foundryEndpoint": {
      "type": "string",
      "metadata": {
        "description": "Foundry endpoint"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'foundry-deployment'), '2025-04-01').outputs.foundryEndpoint.value]"
    },
    "foundryDeploymentName": {
      "type": "string",
      "metadata": {
        "description": "Foundry deployment name"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'foundry-deployment'), '2025-04-01').outputs.deploymentName.value]"
    },
    "logicAppParserName": {
      "type": "string",
      "metadata": {
        "description": "Logic App Parser name"
      },
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2025-04-01').outputs.parserLogicAppName.value]"
    }
  }
}