infra/workflows/parser-multisite.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "2.0.0",
  "parameters": {
    "storageAccountName": {
      "type": "String"
    },
    "foundryEndpoint": {
      "type": "String"
    },
    "foundryApiKey": {
      "type": "SecureString"
    },
    "foundryDeploymentName": {
      "type": "String",
      "defaultValue": "gpt-5.2"
    }
  },
  "triggers": {
    "Recurrence_Check_For_Raw_HTML": {
      "type": "Recurrence",
      "recurrence": {
        "frequency": "Minute",
        "interval": 5
      }
    }
  },
  "actions": {
    "Initialize_BlobNames": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "blobNames",
            "type": "array",
            "value": []
          }
        ]
      },
      "runAfter": {}
    },
    "Initialize_NextMarker": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "nextMarker",
            "type": "string",
            "value": ""
          }
        ]
      },
      "runAfter": {
        "Initialize_BlobNames": [
          "Succeeded"
        ]
      }
    },
    "Initialize_ListIteration": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "listIteration",
            "type": "integer",
            "value": 0
          }
        ]
      },
      "runAfter": {
        "Initialize_NextMarker": [
          "Succeeded"
        ]
      }
    },
    "Until_All_Blobs_Listed": {
      "type": "Until",
      "expression": "@and(greater(variables('listIteration'), 0), equals(variables('nextMarker'), ''))",
      "limit": {
        "count": 50,
        "timeout": "PT30M"
      },
      "actions": {
        "Increment_ListIteration": {
          "type": "IncrementVariable",
          "inputs": {
            "name": "listIteration",
            "value": 1
          },
          "runAfter": {}
        },
        "List_Raw_HTML_Blobs": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices?restype=container&comp=list&prefix=raw/&maxresults=5000&marker=@{variables('nextMarker')}",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "audience": "https://storage.azure.com/"
            },
            "headers": {
              "x-ms-version": "2020-10-02"
            }
          },
          "runAfter": {
            "Increment_ListIteration": [
              "Succeeded"
            ]
          }
        },
        "Compose_Page_Names": {
          "type": "Compose",
          "inputs": "@union(variables('blobNames'), xpath(xml(body('List_Raw_HTML_Blobs')), '//Blob/Name/text()'))",
          "runAfter": {
            "List_Raw_HTML_Blobs": [
              "Succeeded"
            ]
          }
        },
        "Merge_Page_Blob_Names": {
          "type": "SetVariable",
          "inputs": {
            "name": "blobNames",
            "value": "@outputs('Compose_Page_Names')"
          },
          "runAfter": {
            "Compose_Page_Names": [
              "Succeeded"
            ]
          }
        },
        "Extract_NextMarker": {
          "type": "Compose",
          "inputs": "@{xpath(xml(body('List_Raw_HTML_Blobs')), 'string(/EnumerationResults/NextMarker)')}",
          "runAfter": {
            "Merge_Page_Blob_Names": [
              "Succeeded"
            ]
          }
        },
        "Set_NextMarker": {
          "type": "SetVariable",
          "inputs": {
            "name": "nextMarker",
            "value": "@{outputs('Extract_NextMarker')}"
          },
          "runAfter": {
            "Extract_NextMarker": [
              "Succeeded"
            ]
          }
        }
      },
      "runAfter": {
        "Initialize_ListIteration": [
          "Succeeded"
        ]
      }
    },
    "Flatten_Blob_Names": {
      "type": "Compose",
      "inputs": "@variables('blobNames')",
      "runAfter": {
        "Until_All_Blobs_Listed": [
          "Succeeded"
        ]
      }
    },
    "Initialize_FoundrySystemPrompt": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "foundrySystemPrompt",
            "type": "string",
            "value": "You are a structured data extraction assistant. Extract information from HTML documents and return only valid JSON. Be precise and thorough."
          }
        ]
      },
      "runAfter": {
        "Flatten_Blob_Names": [
          "Succeeded"
        ]
      }
    },
    "Initialize_ExtractionPrompt": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "extractionPrompt",
            "type": "string",
            "value": "Extract these fields from the HTML notice as JSON:\n- title: The main notice title/subject\n- noticeType: Type of notice (Maintenance, Capacity Constraint, Force Majeure, etc.)\n- status: Initiate, Supersede, or Cancel\n- postedDate: When notice was posted (ISO 8601)\n- effectiveDate: When notice takes effect (ISO 8601)\n- endDate: When notice expires (ISO 8601, null if none)\n- description: Main content/body of the notice (cleaned text, not HTML)\n- affectedLocations: List of affected locations/meters if mentioned\n- responseRequired: true if response is required, false otherwise\n\nReturn ONLY valid JSON, no markdown or explanation."
          }
        ]
      },
      "runAfter": {
        "Initialize_FoundrySystemPrompt": [
          "Succeeded"
        ]
      }
    },
    "For_Each_Raw_Blob": {
      "type": "Foreach",
      "foreach": "@variables('blobNames')",
      "actions": {
        "Parse_Blob_Path": {
          "type": "Compose",
          "inputs": {
            "blobPath": "@{items('For_Each_Raw_Blob')}",
            "blobName": "@{last(split(items('For_Each_Raw_Blob'), '/'))}",
            "pathParts": "@split(items('For_Each_Raw_Blob'), '/')"
          },
          "runAfter": {}
        },
        "Extract_Path_Metadata": {
          "type": "Compose",
          "inputs": {
            "source": "@{outputs('Parse_Blob_Path')?['pathParts'][1]}",
            "dateFolder": "@{outputs('Parse_Blob_Path')?['pathParts'][2]}",
            "pipeline": "@{outputs('Parse_Blob_Path')?['pathParts'][3]}",
            "fileName": "@{last(outputs('Parse_Blob_Path')?['pathParts'])}",
            "noticeId": "@{replace(last(outputs('Parse_Blob_Path')?['pathParts']), '.html', '')}"
          },
          "runAfter": {
            "Parse_Blob_Path": [
              "Succeeded"
            ]
          }
        },
        "Check_Already_Parsed": {
          "type": "Http",
          "inputs": {
            "method": "HEAD",
            "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/parsed/@{outputs('Extract_Path_Metadata')?['source']}/@{outputs('Extract_Path_Metadata')?['pipeline']}/@{outputs('Extract_Path_Metadata')?['noticeId']}.json",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "audience": "https://storage.azure.com/"
            },
            "headers": {
              "x-ms-version": "2020-10-02"
            }
          },
          "runAfter": {
            "Extract_Path_Metadata": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "staticResult": {
              "name": "HTTP_HEAD_Check",
              "staticResultOptions": "Disabled"
            }
          }
        },
        "Process_If_Not_Parsed": {
          "type": "If",
          "expression": {
            "equals": [
              "@outputs('Check_Already_Parsed')['statusCode']",
              404
            ]
          },
          "actions": {
            "Get_HTML_Blob_Content": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/@{outputs('Parse_Blob_Path')?['blobPath']}",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://storage.azure.com/"
                },
                "headers": {
                  "x-ms-version": "2020-10-02"
                }
              },
              "runAfter": {}
            },
            "Call_Foundry_Extraction": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{parameters('foundryEndpoint')}/openai/deployments/@{parameters('foundryDeploymentName')}/chat/completions?api-version=2024-02-01",
                "headers": {
                  "Content-Type": "application/json",
                  "api-key": "@parameters('foundryApiKey')"
                },
                "body": {
                  "messages": [
                    {
                      "role": "system",
                      "content": "@{variables('foundrySystemPrompt')}"
                    },
                    {
                      "role": "user",
                      "content": "@{variables('extractionPrompt')}\n\nHTML Content:\n@{body('Get_HTML_Blob_Content')}"
                    }
                  ],
                  "temperature": 0.1,
                  "max_completion_tokens": 2000,
                  "response_format": {
                    "type": "json_object"
                  }
                }
              },
              "runAfter": {
                "Get_HTML_Blob_Content": [
                  "Succeeded"
                ]
              }
            },
            "Parse_Foundry_Response": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Call_Foundry_Extraction')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string"
                              }
                            }
                          },
                          "finish_reason": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Call_Foundry_Extraction": [
                  "Succeeded"
                ]
              }
            },
            "Extract_JSON_Content": {
              "type": "Compose",
              "inputs": "@json(body('Parse_Foundry_Response')?['choices'][0]?['message']?['content'])",
              "runAfter": {
                "Parse_Foundry_Response": [
                  "Succeeded"
                ]
              }
            },
            "Build_Final_Parsed_Document": {
              "type": "Compose",
              "inputs": {
                "metadata": {
                  "source": "@{outputs('Extract_Path_Metadata')?['source']}",
                  "pipeline": "@{outputs('Extract_Path_Metadata')?['pipeline']}",
                  "noticeId": "@{outputs('Extract_Path_Metadata')?['noticeId']}",
                  "rawBlobPath": "@{outputs('Parse_Blob_Path')?['blobPath']}",
                  "parsedAt": "@{utcNow()}",
                  "foundryModel": "@{parameters('foundryDeploymentName')}",
                  "tokensUsed": "@{body('Parse_Foundry_Response')?['usage']?['total_tokens']}"
                },
                "extracted": "@outputs('Extract_JSON_Content')"
              },
              "runAfter": {
                "Extract_JSON_Content": [
                  "Succeeded"
                ]
              }
            },
            "Write_Parsed_JSON_Blob": {
              "type": "Http",
              "inputs": {
                "method": "PUT",
                "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/parsed/@{outputs('Extract_Path_Metadata')?['source']}/@{outputs('Extract_Path_Metadata')?['pipeline']}/@{outputs('Extract_Path_Metadata')?['noticeId']}.json",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://storage.azure.com/"
                },
                "headers": {
                  "x-ms-version": "2020-10-02",
                  "x-ms-blob-type": "BlockBlob",
                  "Content-Type": "application/json"
                },
                "body": "@outputs('Build_Final_Parsed_Document')"
              },
              "runAfter": {
                "Build_Final_Parsed_Document": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Check_Already_Parsed": [
              "Succeeded",
              "Failed"
            ]
          }
        },
        "Handle_Parsing_Errors": {
          "type": "Scope",
          "actions": {
            "Log_Error_To_Failed_Folder": {
              "type": "Http",
              "inputs": {
                "method": "PUT",
                "uri": "https://@{parameters('storageAccountName')}.blob.core.windows.net/critical-notices/failed-parsing/@{outputs('Extract_Path_Metadata')?['source']}/@{outputs('Extract_Path_Metadata')?['pipeline']}/@{outputs('Extract_Path_Metadata')?['noticeId']}-@{utcNow('yyyyMMddHHmmss')}.json",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://storage.azure.com/"
                },
                "headers": {
                  "x-ms-version": "2020-10-02",
                  "x-ms-blob-type": "BlockBlob",
                  "Content-Type": "application/json"
                },
                "body": {
                  "error": "Parsing failed",
                  "timestamp": "@{utcNow()}",
                  "source": "@{outputs('Extract_Path_Metadata')?['source']}",
                  "pipeline": "@{outputs('Extract_Path_Metadata')?['pipeline']}",
                  "noticeId": "@{outputs('Extract_Path_Metadata')?['noticeId']}",
                  "rawBlobPath": "@{outputs('Parse_Blob_Path')?['blobPath']}",
                  "errorDetails": "@{result('Process_If_Not_Parsed')}"
                }
              },
              "runAfter": {}
            }
          },
          "runAfter": {
            "Process_If_Not_Parsed": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          }
        }
      },
      "runAfter": {
        "Initialize_ExtractionPrompt": [
          "Succeeded"
        ]
      },
      "runtimeConfiguration": {
        "concurrency": {
          "repetitions": 10
        }
      }
    }
  },
  "outputs": {}
}